
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}



{% block body %}
{% if not user %}
{{ include('navbar.html.twig') }}
{% endif %}

    <h1>Welcome to AllYourMemes.org{% if user %} {{user[1]}} {% endif %}</h1>
    <div style="text-align:center;">
    <img src="memeFile/home.jpg" style="max-width:95vw;background-color:#AAAAAA;"/>
    </div>
    <button style="display:block;
    margin:auto;
    text-decoration: none;
    padding: 10px;
    font-family: verdana;
    font-size: 1.1em;
    color: #FFFFFF;
    background-color: #548dd4;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;" onclick="window.location.href = '/meme'">Explore !</button>
{% endblock %}