
{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}



{% block body %}
{% if isConnected %}
    {# L'utilisateur est connecté #}
    <p>Welcome, {{ user[1] }}!</p>
{% else %}
    {# L'utilisateur n'est pas connecté #}
    <p>Welcome to AllYourMemes.org!</p>
{% endif %}

    <div style="text-align:center;">
    <img src="memeFile/home.jpg" style="max-width:95vw;background-color:#AAAAAA;"/>
    </div>
{% endblock %}