{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <h1>Profil de : {{session['username']}} {% if session['userid'] == id %} <a href="/profil/edit"><span class="glyphicon glyphicon-pencil"></span></a> {% endif %} </h1>

    Tenu par : {{user[2]}} {{user[1]|slice(0,1)}}.<br>

    Avatar : <img src = "../../../{{user[4]}}" alt="Avatar" style ="max-width:100px; max-heigth:100px"/>
    {% if session['userid'] == id %}
    <form action="/" method="POST">
        <label>
        <style>
        a span {
            color: #337AB7;
        }
        a:hover, a:hover span {
            color: #23527C;
        }
        </style>
            <input type="submit" value="Deconnexion" style="display:none;">
            <a><span class="glyphicon glyphicon-log-out" style="font-size:3em"></span></a> 
        </label>
    </form>
    {% endif %}
{% endblock %}